// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/**
 * Basic template settings
 */

$template--opacity: 0.4;

$template--max-width: 1280px !default;

$template--gap: 1em;

$template--radius: 10px;
/**
  * Basic color scheme
  */

$color--background: hsl(222, 24%, 16%) !default;

$color--brand: hsl(42, 16%, 45%) !default;

$color--text: hsla(0, 0%, 95%, 0.6) !default;

$color--text-muted: hsla(0, 0%, 95%, 0.2) !default;

$color--text-invert: hsl(0, 0%, 13%) !default;

$color--visa: hsl(224, 15%, 14%) !default;

$color--error: hsla(0, 51%, 47%, 0.664);

$color--success: hsla(153, 48%, 49%, 0.4);
