/**
 * Typography style
 * Typography Golden Ratio https://grtcalculator.com/
 */

body {
    font: normal 14px / 26px 'Comfortaa', 'Helvetica Neue Light',
        'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 300;
}

h1 {
    @include font(34px, 59px, 300);

    margin: 0;

    @include breakpoints(phone) {
        @include font(29px, 48px);
    }
}

h2 {
    @include font(29px, 48px, 300);

    color: $color--brand;

    margin: 0;

    @include breakpoints(phone) {
        @include font(23px, 39px);
    }
}

h3 {
    @include font(23px, 39px, 300);

    margin: 0;

    @include breakpoints(phone) {
        @include font(18px, 32px);
    }
}

h4 {
    @include font(16px, 28px, 300);

    margin: 0;

    @include breakpoints(phone) {
        @include font(14px, 26px);
    }
}

p {
    @include font(14px, 26px, 300);

    margin: 0;

    word-wrap: break-word;

    @include breakpoints(phone) {
        @include font(11px, 21px);
    }
}

a {
    color: $color--text;

    font-weight: 300;

    outline: none;
    text-decoration: none;
}

small {
    @include font(11px, 21px, 300);
}

blockquote {
    @include font(18px, 32px, 300);

    @include breakpoints(phone) {
        @include font(14px, 26px);
    }
}

pre {
    @include font(14px, 26px, 300);

    @include breakpoints(phone) {
        @include font(11px, 21px);
    }
}

.text {
    color: $color--text;

    &--muted {
        color: $color--text-muted;
    }
    &--error {
        color: $color--error;
    }
}
