.signin {
    max-width: 720px;

    @extend .card;

    a {
        color: $color--text-muted;

        @include breakpoints(phone) {
            @include font(11px, 21px);
        }

        &:hover {
            color: $color--text;
        }
    }

    p {
        max-width: 580px;
    }
}
