// -----------------------------------------------------------------------------
// This file contains all styles related to the select component.
// -----------------------------------------------------------------------------

.backdrop {
   @include fixed(top 0 bottom 0 left 0 right 0);

   background: linear-gradient(hsla(0, 0%, 13%, 0.92), hsla(0, 0%, 13%, 0.92));

   @include flex(row, center, center, wrap);
}

.popup {
   background: $color-brand;

   @include relative();

   &__body {
      text-align: center;
   }

   svg {
      @include absolute(right -1.3rem top -1.3rem);

      cursor: pointer;
      fill: $color-brand;

      &:hover {
         opacity: 0.6;
      }
   }

   span {
      color: $color-secondary;
      display: block;
      text-align: center;
      font-size: 16pt;
      font-weight: bold;
      letter-spacing: 8pt;

      padding: 1em 3em;

      @include breakpoints(phone) {
         padding: 1em 2em;
      }
   }

   p {
      text-align: center;
   }

   figure {
      margin: 0;
   }
   canvas {
      display: inherit;
   }
}
