.progress {
    &-amount {
        color: $color--brand;
        margin: 0 0 0.6em;
        li {
            display: inline-block;
            vertical-align: text-top;
        }
        &__cur {
            font-size: 23px;
            font-weight: 300;
            line-height: 39px;

            margin: 0;

            @include breakpoints(phone) {
                font-size: 18px;
                line-height: 32px;
            }
        }
        &__max {
            float: right;
            font-size: 23px;
            font-weight: 300;
            line-height: 39px;

            margin: 0;

            @include breakpoints(phone) {
                font-size: 18px;
                line-height: 32px;
            }
        }
    }

    &-bar {
        background-color: hsla(0, 0%, 6%, 0.3);
        border-radius: 9999px;
        display: flex;
        height: 26px;

        vertical-align: middle;
        width: 100%;

        &__line {
            background: $color--brand;
            border-radius: 9999px;

            &--warning {
                background-color: hsla(0, 47%, 20%, 0.3);
            }
        }
    }
}
