// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.form-select {
   -moz-user-select: -moz-none;
   -ms-user-select: none;
   -webkit-user-select: none;
   user-select: none;

   background: transparent;
   border-bottom: 2px solid $color-brand;

   overflow: hidden;

   position: relative;
   margin: 0 0 1rem 0;

   max-width: 380px;

   width: 100%;

   &:after {
      content: '▾';

      color: $color-brand;

      font-size: 24px;

      line-height: 40px;

      position: absolute;
      top: -3px;
      right: 0;

      z-index: 1;

      @include breakpoints(tablet) {
         font-size: 18px;
         top: -5px;
         right: 0;
      }

      .ie & {
         display: none;
      }
   }
}

select {
   background: transparent;
   background-image: none;
   display: block;
   color: #8c8f95;

   cursor: pointer;

   z-index: 2;
   border: none;

   margin: -1px 0;
   outline: none;
   padding: 0.5rem 0;
   position: relative;
   text-indent: -2px;
   // This is so hacky.. (for Firefox)
   // Removes the default select arrow.
   text-overflow: '';
   // End of brutal hack

   -moz-appearance: none;
   -webkit-appearance: none;
   width: 100%;

   @include breakpoints(tablet) {
      margin: 0;
      text-indent: 0;
   }

   &[multiple='multiple'] {
      height: auto;

      &:hover {
         border-color: $color-brand;
         box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      }
   }

   option {
      color: #202532;
   }

   option[disabled] {
      color: #ffffff;
      text-shadow: none;
      border: none;
   }
}

select:-moz-focusring {
   color: transparent;
   text-shadow: 0 0 0 #8c8f95;
}

select::-ms-expand {
   display: none;
}
